.app-container {
    max-width: 100%;
    margin: auto;
}

.app-container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.floating-btns {
    width: 100%;
    position: relative;
    bottom: 0;
}

